<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="
    margin: 50px auto;
    background-color: grey;
    width: 500px;
    height: 500px;">
        <div style="text-align: center"> Sign Up</div>
        <div style="padding-left: 10%; margin-top: 10%;">
        {% for message in messages %}
        {{message}}
        {% endfor %}
            <form action="register", method="POST" >
                {% csrf_token %}
                <input type="text" name="username" id="" placeholder="Enter Your Username" style="height: 30px; width:70%;" ><br>
                <input type="text" name="email" id="" placeholder="Enter Your Email Address" style="height: 30px; width:70%; margin-top: 3%;">
                <input type="password" name="password" id="" placeholder="Enter Your Password" style="height: 30px; width:70%; margin-top: 3%;">
                <input type="password" name="password1" id="" placeholder="Enter your Password" style="height: 30px; width:70%; margin-top: 3%;">
                <div style="padding-top: 20px;">
                    <button type="submit" style="width: 70%; height: 30px;">
                       Sign Up
                    </button>
                </div>
                
            </form>
            <div>
                <h5><a href="login">Login Here</a></h5>
            </div>
        
        </div>
    </div>
</body>
</html>